*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}

.container{
    width: 100px;
    height: 100px;
    background: #2b323c;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;


}
.container h2{
    font-size: medium;
}